<div id="baniere" class="col-12 white-text p-5 d-flex align-items-center">
    <div class="col-5">
        <h1 class="display-1">AYDOK<span class="lead">Technologie</span></h1>
        <p class="details">
            AYDOK est une jeune startup spécialisée dans la conception de solution informatique et electronique
            repondanr au besoins de la population, elle cible les entreprise ainsi que les paticuliers du marché
            local et international
        </p>
    </div>
</div>