<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta name="color-theme" content="black">
    <%- include ../head -%>
    <link rel="stylesheet" href="/stylesheet/accueil.css">
</head>

<body class="grey">
    <div class="row">
       <% include nav %>
        
    </div>

    <%- include ../script -%>
    <script src="/js/main.js"></script>
</body>


</html>