<div id="baniere" data-parallax="scroll" data-image-src="/images/fond.jpg"
    class="parallax-window col-12 white-text p-5 d-flex align-items-center">
    <div class="col-lg-5 col-md-8 col-sm-12">
        <h1 class="display-1 font-weight-bold">AYD<i
                class="animated rotateIn infinite text-success mdi-action-language"></i>K<span class="lead">
                |Technologie</span></h1>
        <p class="details">AYDOK est une jeune startup spécialisée dans la conception de solution
            informatiqueetelectroniquerepondanr au besoins de la population, elle cible les entreprise ainsi que les
            paticuliersdumarché localet international.</p><span class="p-2 bg-dark text-white">La technologie à votre
            portée</span>
    </div>
</div>