<div class="col-12 information bg-light" id="domaines">
    <div class="carre ombre" ><i class="mdi-action-settings-input-antenna white-text fa-8x"></i></div>
    <div class="row">
        <div class="text col-5">
            <h1 class="text-info"><i class="mdi-action-settings-input-antenna mr-2"></i>Nos Domaines</h1>
            <p class="mt-5">AYDOK agit dans plusieurs domaines d'activités afin de repondre le plus possible aux
                problèmes de la population.</p>
        </div>
        <div class="image col-12">
            <div class="row p-5"><% domaines.forEach(d=>{ %><div class="col-2 mt-3 text-center">
                    <div class="card ombre">
                        <div class="card-body">
                            <h6 class="card-title"><%= d.nom %></h6>
                        </div>
                    </div>
                </div><%}) %></div>
        </div>
    </div>
</div>
</div>