<footer class="col-12 grey lighten-5" id="footer">
    <div class="row p-5">
        <div class="col-lg-6 col-sm-12 col-md-6"><span class="">Club Info</span>
            <spanclass="lead font-weight-bolder ">|ESATIC</span><p class=""style=" font-size:16px">Le club Info
                del'ESATIC est un club qui regroupe les passionnés des TICdans le but del'apprentissage des
                nouvellestechnologies.</p>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6 text-center "><span class="lead font-weight-bolder">NOUSCONTACTER</span>
            <p class="mt-3" style="font-size:18px">+225 43 813 698</p>
            <p class="" style="font-size:18px">+225 51 886 478</p>
        </div>
    </div>
    <div class="col-12 text-center"><small>Copyrigth <i class="fa fa-copyright"
                aria-hidden="true"></i>2019-Clubinfo</small></div>
</footer>