<div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top"><a class="navbar-brand green-text font-weight-bold">AYD<i
                class="mdi-action-language"></i>K <span class="lead white-text">Technologie</span></a><button
            class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#"><i class="mdi-action-home mr-2"></i> Accueil
                        <span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" href="#"><i class="mdi-social-group mr-2"></i> Equipe
                        <span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" href="#"><i class="mdi-action-wallet-travel mr-2"></i>
                        Sercvices <span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" href="#"><i
                            class="mdi-action-settings-input-antenna mr-2"></i> Domaines <span class="sr-only">
                            (current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" href="#"><i class="mdi-communication-business mr-2"></i>
                        Partenaires <span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" href="#"><i class="mdi-communication-call mr-2"></i>
                        Contacts <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </nav>
</div>