<div class="col-12 information" id="partenaires">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="mt-5 text-secondary"> Ils nous font confiance</h3>
        </div>
        <div class="image col-12">
            <div class="row p-5 d-flex justify-content-between"> <img src="/images/fjn.png" height="60" alt=""> <img
                    src="/images/esatic.jpg" height="60" alt=""> <img src="/images/ansut.png" height="60" alt=""> <img
                    src="/images/ARTCI.jpg" height="60" alt=""></div>
        </div>
    </div>
</div>
</div>