<div class="col-12 information" id="services">
    <div class="carre ombre"><i class="mdi-hardware-memory white-text fa-8x"></i></div>
    <div class="row">
        <div class="text col-5">
            <h1 class="text-info"><i class="mdi-action-wallet-travel mr-2"></i>Nos services</h1>
            <p class="mt-5">
                AYDOK fournie des servcie dans plusieurs branches telles que : l'electronique, l'informatique et les
                telecoms.
            </p>
        </div>
        <div class="image col-12">
            <div class="row p-5">
                <% services.forEach(s=>{ %>
                <div class="col-2 mt-3 d-flex">
                    <div class="card ombre2">
                        <div class="icone d-flex justify-content-center align-items-center">
                            <i class="<%= s.icon %> fa-6x"></i>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title"><%= s.nom %></h6>
                            <p class="card-text"><%= s.details %></p>
                        </div>
                        <img class="card-img-bottom" src="" alt="">
                    </div>
                </div>
                <% }) %>

            </div>
        </div>
    </div>
</div>

</div>